body {
  padding: 3%;
}

.nome {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#descricao{
  position: absolute;
  top: 36%;
  right: 31%;
}

p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-color: rgb(207, 225, 185);
}

.destaque {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}

.pro {
  font-size: 22px;
}

.lid {
  font-size: 33px;
}

.emp {
  font-size: 44px;
}

#fotoGuilherme {
  float: left;
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 280px; 
  padding: 10px;
  background-color: rgb(113, 131, 85);
}

.imageContainer{
  height: 300px;
  position: relative;
}
 ul li:nth-child(odd){
   background-color: rgb(151, 169, 124);
 }